
header{
  text-align: center;
}

.nav-link{
  margin-right:100px !important ;
}

.products{
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
 
}

.basket-area{
  background-color:#d7ccc8;
 
}
.totalprice{
  background-color: yellow;
  font-size: large;
}

.basket{
  background-color: #eee;
}

.Item{
  background-color: rgb(185, 201, 44);
  max-width: 170px;
  margin: 2px;
}

.Item-content{
  font-size: 15px !important;
}

.Item-qty{
  height: 30px !important;
  width: 65px !important;
  background-color:white !important;
  border: 2px dotted black !important;
}

.Item-btn{
  height: 35px !important;
  margin-bottom:5px !important ;
}



.cart{
  height:120px !important;
  width: 200px !important;
  background-color:#cddc39 ;
  margin-bottom: 3px;
}
 
.checkout{
  background-color: #006064 !important;
  width: 200px !important;
  margin-bottom: 1%;
}
.cart-photo{
  width: 100%;
  height: 110px ;
  margin: 2% !important;
}
 .cart-info{
   padding-left: 0% !important;
   margin: 0% !important;
   position: relative;
 }

 .delete-btn{
   width: 27% !important;
   height: 25%;
   position: absolute;
   top:0;
 }

 .add-btn{
   margin-right:5% ;
 }
 
 .icon-close{
    position: absolute;
 }

 .card-more{
   position: relative;
   top:0;
 }

 ::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
 }

 .email{
  border:1px solid black !important;
  height: 30px !important;
 }

 .address{
  border:1px solid black !important;
  height: 90px !important;
 }
 
 .radio-btn{
   margin-right: 30px;
 }

 .auth{
   margin-right: 25px;
 }

 .modal-close{
   position:absolute;
   top:0;
   right: 1px;
 }

 .navbar{
  
  width:auto;
  height:0.5%;
  border: 1px solid black;
  border-radius:6px;
  box-shadow: 4px 3px gray;
  margin:2px; 
 
}

.nav-wrapper{
  padding-left: 10px;
}





