
header{
  text-align: center;
}

.nav-link{
  margin-right:100px !important ;
}

.products{
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  margin-left: 5px !important;
 
}

.Item{
  background-color: rgb(185, 201, 44);
  max-width: 300px;
  margin: 4px;
}

.Item-content{
  font-size: 15px !important;
}

.Item-btn{
  height: 35px !important;
  margin-bottom:5px !important ;
}

 .card-more{
   position: relative;
   top:0;
 }

 ::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
 }

 .email{
  border:1px solid black !important;
  height: 30px !important;
 }

 .address{
  border:1px solid black !important;
  height: 90px !important;
 }
 
 .radio-btn{
   margin-right: 30px;
 }

 .navbar{
  width:auto;
  height:0.5%;
  border: 1px solid black;
  border-radius:6px;
  box-shadow: 4px 3px gray;
  margin:2px; 
}

.nav-wrapper{
  padding-left: 10px;
}

.nav-link:hover ul{
  display: block ;
}
.nav-li{
  margin-left: 14px;
}

.category{
  margin-left: 5px !important;
}

.logo{
  width: 80px!important;
}
 
 .product-image {
   height: 350px;
 }
 
@media only screen and (max-width: 800px) {
  nav img{
    position: relative;
    top: 0px;
    left: 60%;
    border-radius: 8px;
    border: 1px solid black;
  }
}

li div {
  margin-right: 10px !important;
  margin-left: 5px !important;
  
}

.logo-name {
  margin-left: 10px!important;
  text-shadow: 3px 2px  rgb(17, 16, 16);
}



