
.Product{
  margin: 5px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 4fr  1fr
 
}

header{
  text-align: center;
}

.products{
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}

.basket{
  background-color: #eee;
}

.Item{
  background-color: rgb(185, 201, 44);
  max-width: 185px;
  margin: 3px;
}

.Item-content{
  font-size: 15px !important;
}

.Item-qty{
  height: 35px;
}

.Item-btn{
  height: 35px !important;
  margin-bottom:5px !important ;
}

.photo{
 height: 250px;
}

.cart{
  height:120px !important;
  width: 200px !important;
  background-color:#cddc39 ;
  margin-bottom: 2px;
 
 
}

.cart-photo{
  width: 100%;
  height: 110px ;
  margin: 1% !important;
}
 .cart-info{
   padding-left: 0% !important;
   margin: 0% !important;
   position: relative;
 }

 .delete-btn{
   width: 27% !important;
   position: absolute;
   top:0;
 }

 .add-btn{
   margin-right:5% ;
 }
 
